<div class="modal fade" id="settings" role="dialog" style="height:400px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title center">Settings</h4>
            </div>
            <div class="modal-body">
                <ul class="list center">
                    <h3><a href="/facegram/pswd">Change Password</a></h3><br>
                    <h3><a href="/facegram/signup/update">Change Information</a></h3>
                </ul>

            </div>
        </div>

    </div>
</div>