.shadow {
    text-shadow: 2px 8px 8px grey;
}

.msg{
    width:70%; 
    position: relative;
    border-radius:20px;
    margin:10px 0 0 10px;
    padding:6px;
    color:white;
}

.profile{
    width:200px;
    border-radius: 100%;
    height:200px;
    box-shadow: 10px 10px 5px grey;
}

.scrollx {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height:150px;
}