/* ==========================================================================
    Gallery Styling
   ========================================================================== */
.g-item {
    margin-bottom: 30px;
    padding: 6px;
    position: relative;
    background-color: white;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

.g-item img {
    overflow: hidden;
    width: 100%;
}

.g-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d8aa46;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.g-item:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.g-item span {
    color: white;
    font-weight: 300;
    font-size: 60px;
    height: 60px;
    width: 100%;
    top: 50%;
    text-align: center;
    line-height: 60px;
    margin-top: -30px;
    position: absolute;
    left: 0;
}



