{% extends 'index.html' %}

{% block title %}
Login
{% endblock %}

{% block login %}

{% load crispy_forms_tags %}
{% if request.user.is_authenticated %}
{% else %}
<div class="jumbotron">
<h2 style="text-shadow: 2px 8px 8px grey;">Login</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<hr>
<a href="/auth/password_reset"><p>Forgot Password ??</p></a>
</div>
{% endif %}

{% endblock %}